/*  your css code here. If applicable */
body{ 
	height:50vh;
	background-color:purple; 
	display:flex; 
	justify-content: center; 
	align-items:center; 
} 
.soundbar{ 
	width:700px;
	align-items:center;
	display:flex; 
	justify-content: space-around; 
} 
button{ 
	cursor:pointer;
	border-radius: 5px;
	border: none;
	background-color:red; 
	height:44px; width:70px; 
	color:white; 
}